[user]
	signingkey = A80574CB
	email = r.sickenberg@gmail.com
	name = Sickenberg Romain
[commit]
	gpgSign = true
[pull]
	rebase = true
[fetch]
	pruneTags = true
[credential]
	helper = cache
[core]
	excludesfile = /Users/romainsickenberg/.gitignore_global
	fileMode = false
	pager = less -+FX
	sshCommand = ssh -i ~/.ssh/id_ed25519 -F /dev/null
	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true
[tag]
	forceSignAnnotated = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pack]
	useBitmapBoundaryTraversal = true
	usebitmaps = true
[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1